@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply block w-full py-2 px-3 rounded-md border-none bg-gray-100 focus:ring-0 outline-none;
  }

  td:last-child,
  th:last-child {
    @apply px-0;
  }

  td:first-child,
  th:first-child {
    @apply pl-0;
  }

  td,
  th {
    @apply p-1 md:p-1.5;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-blue-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600;
}

.titleInv {
  @apply text-center text-lg font-bold text-gray-900;
}
